:root {
    /* EidosMedia color palette */
    --em-white1: #fff;
    --em-white2: #fafafa;
    --em-white3: #f3f3f3;
    --em-white4: #e0e0e0;
    --em-blue1: #f1f8ff;
    --em-blue2: #0f56bc;
    --em-blue3: #0a44ad;
    --em-grey1: #e0e0e0;
    --em-grey2: #707070;
    --em-grey3: #505050;
    --em-grey4: #28313b;
    --em-green1: #4caf50;
    --em-red1: #f44336;
    --em-orange1: #ffab02;


    --font-dark: var(--em-grey4);
    --font-light: var(--em-grey3);

    --nav-width: 85px;

    /* typography */
    --h1-size: 32px;
    --h2-size: 36px;
    --h3-size: 22px;
    --h4-size: 18px;
    --h5-size: 14px;
    --p-size: 14px;
}

html, body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.row {
    margin-left: 0px;
}

/* sidebar */
#sidebar {
    height: 100vh;
    width: 85px;

    background-color: var(--em-blue2);

    position: fixed;
}

#sidebar .sidebarbuttons {
    border: 1px solid var(--em-grey3);
    border-width: 1px 0px 1px 0px;
}

#sidebar .nav-stacked li {
    margin: 0px;

    background: var(--em-blue2);

    color: #fff;

    border: 1px solid var(--em-grey3);
    border-width: 1px 0px 1px 0px;
}

#sidebar .nav-stacked li a {
    height: 89px;

    color: #fff;
}

#sidebar .nav-stacked li:active a{
    color: var(--em-grey3);

    background-color: var(--em-white3);
}

#content-wrapper {
    margin-left: var(--nav-width);
    padding-left: 20px;
}

/* page header */
#header {
    height: 56px;
    padding: 26px 0px 0px 0px;
    vertical-align: middle;
}

#header a {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.backicon {
    width: 30px;
    padding: 0px 8px 0px 0px;

    font-size: 26px;
    vertical-align: middle;
}

/* content */
#content {
    height: 800px;
}

/* buttonrow */
#buttonrow {
    position: fixed;

    bottom: 0px;

    height: 54px;
}

#buttonrow .btn {
    /* float: right !important; */
}


/* typography */
h1 {font-size: var(--h1-size);}
h2 {font-size: var(--h2-size);}
h3 {
    margin: 0px 0px 0px 0px;
    font-size: var(--h3-size);
}
h4 {font-size: var(--h4-size);}
h5 {font-size: var(--h5-size);}
p {font-size: var(--p);}

